<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="css/styles.css" rel="stylesheet">
		<link href="css/wstyles.css" rel="stylesheet">
    
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top"  hrefrole="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-right ">
        <nav class="navbar navbar-dark">
          <div class="container-fluid">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button id="b" class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </nav>
      
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">


          
<!-- sign up page -->
<form class="b"   action="signin" onsubmit="return validate()" >
    <div class="form-row"  >
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required  >
        <label for="error" id="emailerror"></label>
      </div>
      
    </div>

    
    <div class="form-row">
      <div class="form-group col-md-6">
       <label id="phone" for="phone">Phone </label>
       <input type="phone" class="form-control" id="inputPhone" placeholder="Phone Number" required>
       <label for="error" id="phoneerror"></label>
     </div>
    </div> 

    <div class="form-row" >
     <div class="form-group col-md-8">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" required>
      <label for="error" id="pwderror"></label>
    </div>

   
    <div class="form-group col-md-4">
    <label for="password-repeat">Confirm Password</label>
    <input type="password" placeholder="Repeat Password" class="form-control" id="inputrpassword" required>
    <label for="error" id="rpwderror"></label>
   </div>

    </div>
    <br>
    <p>By creating an account you agree to our 
    <a href="#" style="color:dodgerblue">Terms & Privacy</a>
    </p>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" required> 
        <label class="form-check-label" for="gridCheck">
          Check out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary"  >Sign Up</button>
  </form>
<br>
<br>
<!-- sign up page end -->
          
          
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/validation.js"></script>
	</body>
</html>
